.main-color-font {
  color: #00b38a;  
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

body {
  background: #F1F3FA;
}

.form-extr {
    margin-top: 10px;
    font-weight: 300;
    text-align: center;
}

.company-logo {
  width: 40px;
  heigth: 40px;
  border-radius: 50%;
}

.fl {
  float: left;
}

a {
  text-decoration: none;
}

.btn-r {
  background-color: rgb(35, 200, 178);
  border-color: rgb(35, 200, 178);
}

/*===========弹性 左右布局==============*/
.flex-left-right{
  display: flex;
  justify-content: space-between;
}

/*============= 分页 ===================*/
.pagination >li >a { 
  border-radius: 50% !important;
  margin: 0 5px; color: rgb(63, 56, 100);
} 

.pagination > .active >a:hover, .pagination .active a { 
  background-color: #23c8b2;
  color: #ffffff; 
  border: 1px solid #ddd;
}

.pagination-area {
  clear: both; 
  height: 100px;
  text-align: center;
}

.not-find-content {
  font-size: 26px;
  font-weight: 300;
  padding-top: 20px;
}

/*============= 回到顶部 =================*/
.back-to-top {
  background: none;
  position: fixed;
  bottom: 100px;
  right: 30px;
  width: 50px;
  height: 60px;
  z-index: 100;
  text-decoration: none;
  color: #23c8b2;
  background-color: #dcdcdc;
  opacity:0.5;
  font-size: 30px;
  font-weight: 800;
  border-radius: 80%;

  &:hover {
    background-color: #23c8b2;
    color: #fff;
  }
}