.search-area {
  height: 180px;
  margin: -20px -15px 0 -15px;
  padding-top: 30px;
  background: #f2f5f4;
}

.hot-search {
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
  margin-left: 3px;  
}

.hot-search-title {
  margin-right: 5px;
  display: inline-block;  
}

.hot-search-content {
  display: inline-block;
}

.hot-search-content span a{
  margin-right: 10px;
  color: #00b38a; 
  text-decoration: none;
}

.type-pic-area {
  overflow: hidden;
  background: #fff;
  margin: 0 -15px;
  padding: 25px 0;
}

.inudesty-list {
  padding-left: 0;  
}

.inudesty-list > li > a{
  float: left;
  position: relative;
  display: block;
  padding: 0 10px;
  border: 1px solid #e6e6e6;
  height: 28px;
  line-height: 28px;
  white-space: nowrap;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #3f3864; 

  &:hover {
    background: rgb(35, 200, 178);
    color: #fff;
  }
}

#myCarousel {
  margin-bottom: 10px;
}

.job-area {
  overflow: auto;
  background: #a1e8e4;
  margin: 0 -15px;
  padding: 20px 0;
}

.last-job-title {
  border-radius: 25px;
  font-weight: 30;
  font-size: 16px;
  margin-left: 15px;
  padding: 10px 0;
  width: 100px;
  /* border-bottom: 2px solid #333; */
  background: #fff;
  color: rgb(35, 200, 178);
  text-align: center;
}
/*-----------------搜索框 开始-------------------*/
.job-search {
  margin-top: 30px;
}

.job-search input:focus {
  border-color: #23c8b2;
}

.job-search-btn {
  width: 80px;
  height: 46px;
  font-size: 18px;
  color: #FFF;
  border: 0;
  background: #23c8b2;
}
/*-----------------搜索框 结束-------------------*/

/*------------------职位缩略开始--------------------*/
.job-thumb-item {
  height: 200px;
  margin: 16px 16px 0 0;
  padding: 20px 18px 0;
  border: 1px solid #EAEEED;
  background-color: #fff;

  &:hover {
    box-shadow: 0 0 15px rgba(33,33,33,.2);
  }
}

.job-thumb-top {
  height: 80px;
}

.job-thumb-bottom {
  margin-top: 18px;
  padding-top: 18px;
  border-top: 1px dashed #E0E0E0;
}

.job-thumb-title a {
  font-size: 16px;
  display: inline-block;
  padding: 0;
  margin: 0;
  color: #333;
  text-decoration: none;

  &:hover {
    color: #23c8b2;
  }
}

.job-thumb-create-time {
  color: #999;
  font-size: 14px;
}

.job-thumb-salary {
  font-size: 16px;
  color: #fa6041;
  font-weight: 350;
}

.job-thumb-experience-education {
  line-height: 30px;
  color: #777;
}

.job-thumb-desc span{
  display: inline-block;
  width: 100px;
  height: 26px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 26px;
  color: #999;
  border: 1px solid #F0F0F0;
  border-radius: 3px;
  text-align: center;
}

.word-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.job-thumb-company-pic {
  border: 0;
  vertical-align: top;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.job-thumb-company-info {
  margin-left: 54px;
}

.job-thumb-company-name a{
  color: #555;
  background-color: transparent;
  text-decoration: none;
  
  &:hover {
    color: #23c8b2;
  }
}

.job-thumb-company-content {
  height: 20px;
  line-height: 20px;
  color: #999;
}
/*------------------职位缩略结束--------------------*/