%style
  :plain
    .company-content-item {
      margin-bottom: 20px;
      font-size: 15px;
      font-weight: 300;
      text-align: left;
    }

    .company-content-item .company-content-title {
      font-weight: 400;
    }

    .company-content-item .company-content-info {
      margin-left: 10px;
    }

.container-fluid
  .profile
    .col-md-4.col-md-offset-4
      .profile-content
        .text-center
          .row
            .col-lg-12.col-md-12.col-sm-12
              .service-heading-block
                %h3.text-center.text-primary.title 公司审核概览
          .resume-divide-line{style: "padding-bottom: 0"}
          .company-content{style: 'margin: 20px 20px;'}
            .company-content-item
              %span.company-content-title
                公司名称:
              %span.company-content-info
                腾讯
            .company-content-item
              %span.company-content-title
                公司规模:
              %span.company-content-info
                小规模
            .company-content-item
              %span.company-content-title
                所属行业:
              %span.company-content-info
                电子游戏
            .company-content-item
              %span.company-content-title
                审核状态:
              %span.company-content-info
                待审核
            .company-content-item
              %span.company-content-title
                审核信息:
              %span.company-content-info
                由于某某原因你的审核结果暂未通过，请下次努力和黑色大翻领撒的哈是大方了是大后方辣的是否会撒地方谁都会发生的返回拉萨地方啊谁都会发生的




