.col-lg-4.col-md-6.col-sm-6
  .text-center.feature-block
    %span.fb-icon{class: color_class}
      %i.glyphicon{class: glyphicon_class}
    %h4{class: color_class}
      =resume.title
    %p 
      =resume.brief_intro
    %a.btn.btn-custom{class: color_class} 查看详细