.container
  .row.profile
    .col-md-3
      =render partial: 'common/profile_sidebar', locals: {applicant: @applicant, status: 'r'}
    .col-md-9
      .profile-content
        =render partial: 'form', locals: {applicant: @applicant, resume: @resume, title: '编辑简历'}
          
%br
%br
%br
%br
%br
%br