%style
  :plain
    .new-resume-b {
      margin-top: 60px;
      font-size: 80px;
    }

    .new-resume-b > a {
      color: #5bc0de;
      font-weight: 300;
    }
    

.container
  .row.profile
    .col-md-3
      =render partial: 'common/profile_sidebar', locals: {applicant: @applicant, status: 'r'}
    .col-md-9
      .profile-content
        -if @applicant.resumes.empty?
          =image_tag('https://i.loli.net/2018/09/09/5b94cfab50ba1.jpeg')
          还没有自己的简历
          %a{href: new_applicant_resume_path(@applicant)} 去创建
        -else
          .text-center
            .row
              .col-lg-12.col-md-12.col-sm-12
                .service-heading-block
                  %h2.text-center.text-primary.title 我的简历
                  %p.text-center.sub-title
                    夏天是有声音的季节，花开的声音，草长的声音，我们轻轻长大的声音...
                    %br/
                    %br/
              -@applicant.resumes.each_with_index do |resume, index|
                -color_class,glyphicon_class = thumb_item_color_glyphicon_class(index)
                =render partial: 'thumb_item', locals: {applicant: @applicant,resume: resume, color_class: color_class,glyphicon_class: glyphicon_class}
              -if @applicant.resumes.count < 3
                .col-lg-4.col-md-6.col-sm-6
                  .text-center.feature-block{style: 'height: 250px;'}
                    .new-resume-b
                      %a{href: new_applicant_resume_path(@applicant)}
                        %span.glyphicon.glyphicon-plus
%br
%br
%br
%br
%br
%br

