.container
  .row.profile
    .col-md-3
      =render partial: 'common/profile_sidebar', locals: {applicant: @applicant, status: 'd'}
    .col-md-9
      .profile-content
        .row
          %a.btn.btn-default.pull-right.resume-download-icon{target: "_black", href: applicant_resume_path(@applicant,@resume, format: :pdf)}
            %span.glyphicon.glyphicon-download-alt 下载
        =render partial: 'detail', locals: {applicant: @applicant, resume: @resume}