%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      =link_to "拉手", root_path,class: "navbar-brand"
    %ul.nav.navbar-nav
      %li
        =link_to "企业版", '#'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to "登录", "#"