%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} 拉手网
    #myNavbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"} 企业版
        - if current_applicant
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              =t("welcome_you", name: current_applicant_name)
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => applicant_path(current_applicant)} 我的个人主页
              %li
                %a{:href => "#"} 我的简历
              %li
                %a{:href => "#"} 我的收藏
              %li.divider
              %li
                =link_to '退出', exit_path, method: :delete
        - else
          %li
            %a{:href => register_path}
              %span.glyphicon.glyphicon-user
              注册
          %li
            %a{:href => login_path}
              %span.glyphicon.glyphicon-log-in
              登录
