.profile-sidebar
  .profile-userpic
    -if applicant.avatar?
      =image_tag(applicant.avatar_url, class: 'img-responsive')
    -else
      =image_tag('https://i.loli.net/2018/09/09/5b94a0bddf79a.jpeg', class: 'img-responsive')
  .profile-usertitle
    .profile-usertitle-name
      =applicant.name
    .profile-usertitle-job
      Developer
  .profile-userbuttons
    %button.btn.btn-success.btn-sm.btn-r{:type => "button"} Follow
    %button.btn.btn-info.btn-sm{:type => "button"} Message
  
  .profile-usermenu
    %ul.nav
      %li{class: status == 'p' ? 'active' : ''}
        %a{:href => applicant_path(applicant)}
          %i.glyphicon.glyphicon-home
          个人信息
      %li{class: status == 'c' ? 'active' : ''}
        %a{:href => "#"}
          %i.glyphicon.glyphicon-shopping-cart
          我的收藏
      %li{class: status == 'r' ? 'active' : ''}
        %a{:href => applicant_resumes_path(applicant)}
          %i.glyphicon.glyphicon-th-list
          我的简历
      %li{class: status == 'e' ? 'active' : ''}
        %a{:href => my_deliver_path}
          %i.glyphicon.glyphicon-envelope
          我的投递
      %li.active{class: status == 'd' ? '' : 'hidden'}
        %a{href: (@resume && !@resume.new_record?) ? applicant_resume_path(applicant,@resume) : '#'}
          %i.glyphicon.glyphicon-bookmark
            简历详细
      %li{class: status == 'h' ? 'active' : ''}
        %a{:href => '#'}
          %i.glyphicon.glyphicon-flag
            帮助
 

