
!!!
%html{:lang => "en"}
  %head
    %title Lashou
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1"}
    =csrf_meta_tags
    =stylesheet_link_tag    'application', media: "all", 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    =render "common/header"
    .container-fluid
      =render "common/flash"
      =yield
    =render "common/footer"
