
!!!
%html{:lang => "en"}
  %head
    %title Lashou
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1"}
    =csrf_meta_tags
    =stylesheet_link_tag    'application', media: "all", 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    =render "common/header"
    .container-fluid
      =render "common/flash"
      =yield
    / 回到顶部
    %a#kp{href: '#', class: "back-to-top text-center"}
      %i.glyphicon.glyphicon-menu-up
    =render "common/footer"


// 向上滑动
:javascript
  // 默认隐藏
  $("#kp").hide();

  $(document).scroll(function() {
    if ($(document).scrollTop() > 0) {
      $("#kp").show();
    }

    if ($(document).scrollTop() == 0) {
      $("#kp").hide();
    }
  });

  $("#kp").click(function(){
    var speed=500;
    //滑动的速度
    $('body,html').animate({ scrollTop: 0 }, speed);
    return false;
  });


