/ 企业 模版
!!!
%html{:lang => "en"}
  %head
    %title Lashou
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1"}
    =csrf_meta_tags
    =stylesheet_link_tag    'application', media: "all", 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-default{style: "background: #414755;"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} 拉手网
        #myNavbar.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => enterprise_account_login_path, style: "color: white;"}
                %span.glyphicon.glyphicon-home
                后台登录
            - if current_company
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  =image_tag(current_company.logo_url, class: 'company-logo')
                  %span.caret
                %ul.dropdown-menu
                  %li
                    =link_to '退出', enterprise_company_exit_path, method: :delete
            - else
              %li
                %a{:href => enterprise_apply_path, style: "color: white;"}
                  %span.glyphicon.glyphicon-user
                  公司申请
              %li
                %a{:href => enterprise_company_login_path, style: "color: white;"}
                  %span.glyphicon.glyphicon-log-in
                  公司登录
             

    .container-fluid{style: "background: #eef5f9;"}
      =render "common/flash"
      =yield
       
      %footer.footer.text-center
        所有版权归 dongmingyan 所有
