/ 企业 模版
!!!
%html{:lang => "en"}
  %head
    %title Lashou
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1"}
    =csrf_meta_tags
    =stylesheet_link_tag    'application', media: "all", 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-default{style: "background: #414755;"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} 拉手网
        #myNavbar.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => enterprise_root_path} 企业版
            - if true #current_company
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  =image_tag('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537084933862&di=5e2a5c8e0fc281d808d1bb12316b32cd&imgtype=0&src=http%3A%2F%2Fis4.mzstatic.com%2Fimage%2Fpf%2Fus%2Fr30%2FPurple7%2Fv4%2Ff2%2F73%2F0c%2Ff2730c1a-e58f-084a-191a-90e3586f024a%2Fmzl.lngjyatg.png', class: 'company-logo')
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => '#'} 个人主页
                  %li
                    %a{:href => '#'} 我的简历
                  %li
                    %a{:href => "#"} 我的收藏
                  %li.divider
                  %li
                    =link_to '退出', exit_path, method: :delete
            - else
              %li
                %a{:href => register_path}
                  %span.glyphicon.glyphicon-user
                  注册
              %li
                %a{:href => login_path}
                  %span.glyphicon.glyphicon-log-in
                  登录
             

    .container-fluid{style: "background: #eef5f9;"}
      =render "common/flash"
      =yield
       
      %footer.footer.text-center
        所有版权归 dongmingyan 所有
